* {
    margin: 0;
    padding: 0;
}

/* CSS HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #4B4B4B;
    height: 4em;
    opacity: 95%;
    z-index: 1000;
}

nav {
    margin-top: -2.5em;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0 0 0 50em;
}

nav li {

    margin-right: 1.5em;
}

nav a {
    color: white;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(206, 202, 202);
}

#iconeA {
    width: 3em;
    margin-top: 0.2em;
}

#iconeS, #iconeV {
    width: 3.1em;
}

#iconeV {
    width: 3.2em;
}

.liens {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.4em 2em 0 1em;
}

.a {
    background-color:#343233;
    padding: 2em 1em 1.6em 1em;
}

.border {
    border-right: solid white 0.5px; 
    padding-right: 3em;
}

/* CSS CAROUSEL */

#carouselExampleControls {
    width: 55em;
    margin: 5em 0 0 20em;
}

/* CSS MAIN */

body {
    background: linear-gradient(135deg, #A9C8C8 0%, #A8B3C2 100%);
}

.slogan {
    margin: 3em 3em 0 3em;
    text-align: center;
    font-size: 34px;
    line-height: 55px;
    color: #fff;
    text-align: center;
}

span {
    padding: 0 10px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 3px;
}